#sform
  form(action="/words" method="POST")
    input(name="word" class="input" id="word" type="text" placeholder="prefetching word list..." autofocus tabindex="1")
    input(type="submit" id="submit" value="explore!" class="button_submit" disabled)
  #disabled
