.user
  if currentUser == 'new'
    a(href="/signup") Sign Up
  else
    .signedin
      |Welcome, #{currentUser} 
    .logout
      a(href="/logout") Logout
    .searchcount
      | Words Discovered: 
    .count
      if data.words
        |#{data.words.length}
