.user
  if currentUser == 'new'
    .heading5
      a(href="/signup") Sign Up
    br
    .heading5
      a(href="/login") Log in
  else
    .signedin
      |Welcome, #{currentUser} 
    .heading5
      a(href="/logout") Logout
    .searchcount
      | Words Discovered: 
    .count
      if data.words
        |#{data.words.length}
