extends ../layout

block content
    .main
      #ds3Frame
      include ../partials/main
      .search
        include ../partials/user
        include ../partials/sform
        include ../partials/search
        if currentUser != 'new'
          include ../partials/profile
        
        #hidden
          if payload
            if payload.length > 2  
              !{payload}
            else 
              |empty
          else 
            |empty
