/*d3.css*/

#ds3Frame {
  display:inline-block;
  box-sizing: border-box;
  padding:0;
  top: 20px;
  z-index: 9998;
  position:absolute;
  border:0px solid red;
  background-color: rgb(255, 255, 255);
}

#loading {
  display:none;
  box-sizing: border-box;
  padding:0;
  width:400px;
  height:300px;
  top:200px;
  z-index: 9999;
  position:absolute;
  border:0px solid red;
  background-color: rgb(255, 255, 255);
}


#ds3 {
  display:inline-block;
  width: 62%;
  height: auto;
  vertical-align: top;
  margin: 0 auto;
  box-sizing: border-box;
  padding:0;
  z-index: 1001;
  position:relative;
  /*float:left;*/
  border:0px solid red;
}

#graph {
  margin: 0 auto;
  border: 0px solid black;
  text-align: center;
  padding:0px;
}

path.arc {
  cursor: move;
  fill: #fff;
}

.node {
  font: 300 17px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
  transition:fill 3s ease-out .5s;
}

.node:hover {
  fill: #1f77b4;
  transition:fill 0s ease-out 0s;
}

.link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: .4;
  pointer-events: none;
}

.link.source, .link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

/*d3.select("g.node")
  .transition()
  .styleTween("color", function() { return d3.interpolate("green", "red"); });*/

.node.target {
  fill: #d62728 !important;
  transition:fill 0s ease-out 0s;
}

.link.source {
  stroke: #d62728;
}

.node.source {
  fill: #2ca02c;
}

.link.target {
  stroke: #2ca02c;
}

#test {
  display:inline-block;
  width:100px;
  height: 100px;
  border:1px solid black;
}
